@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif; 
  --font-anton: "Anton", sans-serif; 
   --shadow-3xl: 0 0 10px oklch(90.5% 0.182 98.111);
}

