---
import {Image} from "astro:assets"
import HeroMike from "@assets/MikeHero.webp"
import LogoHeroMF from "@assets/LogoMF.svg"
---
<section class="relative">
    <div class="relative bg-linear-to-r from-[#ef6f00] to-[#f07f00]">
       <Image class="w-20 relative" src={HeroMike} alt="Mike Hero Section" /> 
    </div>
</section>
