---
import { Image } from "astro:assets"
import HeroSection from "./HeroSection.astro"
import Carousel from "./Carousel.tsx"
import Spot from "./Spot.astro"
import CarouselTrabajo from "./CarouselTrabajo.tsx"
import Todos from "@assets/Todos.webp"
import Columna from "./Columna.tsx"
import Contacto from "./Contacto.tsx"
import Footer from "./Footer.astro"
---
<main>
    <HeroSection />
    <Carousel client:only="react"/>
    <Spot />
    <CarouselTrabajo client:only="react"/>
    <section class="w-full h-full max-h-[800px] flex">
        <Image class="w-0 grow object-cover" src={Todos} alt="" />
    </section>
    <Columna client:only="react"/>
    <Contacto client:only="react"/>
</main>

