---
import "../styles/global.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Mike Flores</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
  * {
    box-sizing: border-box;  
    }
	header, .noise-bg {
	    background-image: url("../assets/HeaderNoise.webp");
      background-origin: border-box;
      background-size: cover;
      background-repeat: round;
	}
  .shadow-text {
  text-shadow: 2px 2px 2px black;
  }
</style>
